<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application>
        <activity
            android:name=".feature.auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.collection.CollectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.history.HistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.proxy.ProxySettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.search.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.video.VideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:exported="false"
            android:supportsPictureInPicture="true" />
        <service
            android:name=".feature.video.FloatingPlayerService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
        <activity
            android:name=".feature.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
