*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
/locker/build
/.figma
/.kotlin
/.gradle-user
/.codebuddy
/.superpowers
/.worktrees
CommitNoteAI.md
/apktool_6_base
/artifacts
/app/libs/libbox.aar
/graphify-out
/docs