*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
/locker/build
/.figma
/.kotlin
/.gradle-user
/.codebuddy
/.superpowers
CommitNoteAI.md
/app/src/test/
/apktool_6_base
/release
*.jks
*.keystore
keystore.properties
*.apk
